#header {
  background-image: url(./assets/img/Header.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  min-height: 40vh;
}

.ingredient::before {
  content: "🍕"
}

.cart-thumbnail {
  height: 2rem;
  width: auto;
  object-fit: cover;
}

.min-vh-75 {
  min-height: 75vh;
}

#cart-content input {width:48px}